<h2 style="text-align: center; background-color:whitesmoke; color:black; font-style: italic;">User Details</h2>

<table class="table">
        <tbody >
          <tr>
            <th scope="col">UserName</th>
            <td>{{myInfo.login}}</td>
          </tr>
            <tr>
                <th scope="col">Name</th>
                <td>{{myInfo.name}}</td>
            </tr>   
            <tr>
                 <th scope="col">Public repositories</th>
                 <td>{{myInfo.public_repos}}</td>
            </tr>  
            <tr>
                 <th scope="col">Bio</th>
                    <!-- <td>{{myInfo.bio}}</td> -->
                 <td>null</td>
            </tr>  
            <tr>
                 <th scope="col">Url</th>
                 <td>{{myInfo.url}}</td>
            </tr>    
        </tbody>
      </table>
